language: python
python:
    - "3.5"

services:
  - docker

before_script: 
  - python3 -m unittest
  
branches:
  only: 
    - master
    - develop

script:
  - docker build .

  # Push docker image when building master or develop
  - 'if [ "$TRAVIS_BRANCH" = "master" ]; then export DOCKER_TAG=stable; fi'
  - 'if [ "$TRAVIS_BRANCH" = "develop" ]; then export DOCKER_TAG=latest; fi'
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ] && [ -z "$TRAVIS_TAG" ]; then export DOCKER_TAG=$TRAVIS_TAG; fi'
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then docker login -u "$DOCKER_USERNAME"  -p "$DOCKER_PASSWORD"; fi'
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then docker push thedalee/pilifana:$DOCKER_TAG; fi'


  
